{% extends 'base.html' %}
{% block title %}
  {{ bandeco.name }}
{% endblock %}
{% block nav %}
  {% for bandecos in bandecos %}
    <li>
      <a href="{% url 'detail' bandecos.id %}" data-text="{{ bandecos.name }}">{{ bandecos.name }}</a>
    </li>
  {% endfor %}
{% endblock %}
{% block content %}
  <main>
    <section>
      <h1>{{ bandeco.name }}</h1>
      <img src="{{ bandeco.img_url }}" alt="Imagem de {{ bandeco.name }}" />
      <p>{{ bandeco.description }}</p>
      <p>Endereço: {{ bandeco.endereco }}</p>
      <p>Telefone: {{ bandeco.contato }}</p>
      <p>Horário de funcionamento: {{ bandeco.horarios }}</p>
      <p>
        Menu almoço: <span>Nota: {{ bandeco_data.lunch_nota }}</span>
      </p>
      <ul>
        {% for item in bandeco_data.lunch_menu %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p>
        Menu janta: <span>Nota: {{ bandeco_data.dinner_nota }}</span>
      </p>
      <ul>
        {% for item in bandeco_data.dinner_menu %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>Comentários</h2>
      <ul>
        <li>
          <a href="{% url 'comment' bandeco.id %}">Comentar</a>
        </li>
        {% if bandeco.comentario_set.all %}
          {% for comentario in bandeco.comentario_set.all %}
            <figure>
              <figcaption>
                <strong>{{ comentario.author }}</strong> ({{ comentario.date|date:'d/m/Y' }})
                <strong>{{ comentario.nota }}</strong>
                <button type="button" onclick="confirmDelete('{{ comentario.id }}')">Delete Comment</button>
              </figcaption>
              <blockquote>"{{ comentario.text }}"</blockquote>
              <form method="post" action="{% url 'detail' pk=bandeco.pk %}" class="delete-comment-form-{{ comentario.id }}">
                {% csrf_token %}
                <input type="hidden" name="delete_comment_id" value="{{ comentario.id }}">
              </form>
            </figure>
          {% endfor %}
        {% else %}
          <h6>Ainda não existe nenhum comentário para o bandeco.</h6>
        {% endif %}
      </ul>
    </section>
  </main>

  <script>
    function confirmDelete(commentId) {
      var result = confirm("Are you sure you want to delete this comment?");
      if (result) {
        var form = document.querySelector('.delete-comment-form-' + commentId);
        form.submit();
      }
    }
  </script>
{% endblock %}