{% extends 'base.html' %}
{% block title %}
  {{ bandeco.name }}
{% endblock %}
{% block content %}
  <main>
    <section>
      <h1>{{ bandeco.name }}</h1>
      <img src="{{ bandeco.img_url }}" alt="Imagem de {{ bandeco.name }}" />
      <p>{{ bandeco.description }}</p>
      <p>Endereço: {{ bandeco.endereco }}</p>
      <p>Telefone: {{ bandeco.contato }}</p>
      <p>Horário de funcionamento: {{ bandeco.horarios }}</p>
      <p>Menu almoço:</p>
      <ul>
        {% for item in bandeco_data.menu %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
      <p>Menu janta:</p>
      <ul>
        {% for item in bandeco_data.menu %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h2>Avaliações</h2>
    </section>
  </main>
{% endblock %}
