{% extends 'base.html' %}
{% block title %}
  Página Inicial
{% endblock %}
{% block content %}
  <main>
    <h1>Página Inicial</h1>
    {% if bandeco_list %}
      <ul class="bandeco_card">
        {% for bandeco_data in bandeco_data %}
          <li class="card">
            <a href="{% url 'detail' bandeco_data.bandeco.id %}">
              <h2>{{ bandeco_data.bandeco.name }}</h2>
              <img src="{{ bandeco_data.bandeco.img_url }}" alt="Imagem de {{ bandeco_data.bandeco.name }}" />
            </a>
            <p>Nota: {{ bandeco_data.average_nota }}</p>
            <p>Menu:</p>
            <ul>
              {% for item in bandeco_data.menu %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </li>

        {% endfor %}
      </ul>
    {% else %}
      <p>Não foi encontrado nenhum bandeco.</p>
    {% endif %}
  </main>
{% endblock %}
