{% extends 'base.html' %}
{% block title %}
  Página Inicial
{% endblock %}
{% block nav %}
  {% for bandeco in bandeco_list %}
    <li>
      <a href="{% url 'detail' bandeco.id %}" data-text="{{ bandeco.name }}">{{ bandeco.name }}</a>
    </li>
  {% endfor %}
{% endblock %}
{% block content %}
  <main>
    <h1>Página Inicial</h1>
    {% if bandeco_list %}
      <ul class="bandeco_card">
        {% for bandeco_data in bandeco_data %}
          <li class="card">
            <a href="{% url 'detail' bandeco_data.bandeco.id %}"><img src="{{ bandeco_data.bandeco.img_url }}" alt="Imagem de {{ bandeco_data.bandeco.name }}" /></a>
            <h2>{{ bandeco_data.bandeco.name }}</h2>
            <p>{{ bandeco_data.bandeco.endereco }}</p>
            <p>Telefone: {{ bandeco.contato }}</p>
            <p>Horário de funcionamento: {{ bandeco.horarios }}</p>
            <div class="stars_score">{% if bandeco_data.average_nota >= 0.5 %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}
            {% if bandeco_data.average_nota >= 1.5 %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}
            {% if bandeco_data.average_nota >= 2.5 %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}
            {% if bandeco_data.average_nota >= 3.5 %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}
            {% if bandeco_data.average_nota >= 4.5 %}
              <span class="fa fa-star checked"></span>
            {% else %}
              <span class="fa fa-star"></span>
            {% endif %}</div>
            
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Não foi encontrado nenhum bandeco.</p>
    {% endif %}
  </main>
{% endblock %}
