:root {
  font-size: 10px;
  font-family: 'Urbanist', sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

* {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  text-align: left;

}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem 1rem;
  flex-grow: 1;
}

li {
  list-style-type: none;
}

.ul_comment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.detail_article {
  display: flex;
  flex-direction: row;
  left: 0;
  margin-top: 3rem;
}

.detail_img {
  width: 60%;
  height: auto;
  border-radius: 1rem;
}

@media (max-width: 50rem) {
  .detail_img {
    width: 50rem;
    height: 27rem;
  }
}

hr.line {
  border-top: 1px dotted;
  margin-top: 1rem;
  color: #333;
}

.icon {
  width: 1.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.endereco {
  margin-top: 1.5rem;
  font-family: "Trip Sans VF", "Trip Sans", Arial, sans-serif;
  font-weight: lighter;
  text-decoration-line: underline;
  color: #333;
}

.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-left: 1rem;
}

.first-line {
  display: flex;
  flex-wrap: wrap;
}

.first-line p {
  margin-right: 0.5rem;
  text-wrap: nowrap;
}

.menu_list {
  list-style-type: circle;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.comment_head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 22rem;
  text-align: justify;
  border: 1px solid #333;
  border-radius: 1rem;
}

.comment_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 9rem;
  height: 2rem;
  padding: 0.8rem;
  border-radius: 10rem;
  background-color: #0cf;
  color: white;
  position: relative;
}

.delete_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  width: 10rem;
  height: 3.6rem;
  padding: 0.8rem;
  border-radius: 10rem;
  background-color: red;
  color: white;
  position: relative;
  cursor: pointer;
  border: none;
}

.comment_buttons_align {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.bandecos-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card {
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: justify;
  margin-bottom: 1rem;
}

.card .info-container {
  display: flex;
  margin-left: 1rem;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.card h2 {
  display: flex;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: left;
}

.card img {
  width: 27rem;
  height: 27rem;
  transition: transform 0.3s;
}

.card .bandeco-info {
  width: 50%;
  min-width: 14.7rem;
  flex-wrap: wrap;
}

.card .menu-info {
  width: 45%;
  flex-wrap: wrap;
}

.card img:hover {
  transform: scale(1.05);
}

.main-logo {
  width: 22vw;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 97%;
}

.main-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

nav li {
  list-style: none;
  text-align: center;
}

nav li a {
  color: #333;
  text-decoration: none;
  font-size: 2.6vw;
  padding: 0.5rem 0.2rem;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}

nav:hover li a {
  opacity: 0;
}

nav li:hover a {
  color: #000;
  background: transparent;
  opacity: 1;
}

nav li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.12vw;
  color: rgba(0, 204, 255, 0.3);
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5rem;
  transition: letter-spacing 0.5s, left 0.5s;
}

nav li:nth-child(6n + 1) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 2) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 3) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 4) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

.main-nav>* {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}

.main-login {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.main-login>* {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
}

.main-button {
  display: inline-block;
  padding: 0.8vw 1.32vw;
  border-radius: 7.32vw;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25vw;
  letter-spacing: 0.11vw;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 7.32vw;
  z-index: -2;
}

.main-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 7.32vw;
  z-index: -1;
}

.main-button:hover {
  color: #fff;
}

.main-button:hover:before {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  width: 45rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  font-weight: bold;
  text-align: center;
}

input[type="text"],
.field-container.password {
  width: 40rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  background-color: rgb(206, 231, 238);
  font-size: 1.6rem;
}

.field-container.password {
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}

#id_password {
  height: 100%;
  width: 36rem;
  padding: 0;
  text-align: center;
  background-color: rgb(206, 231, 238);
  border: none;
  outline: none;
  z-index: 1;
}


input::placeholder {
  color: #bbbbbb;
}

form li {
  display: none;
}

.helptext {
  display: none;
}

.login_signin_button[type="submit"] {
  background-color: #0cf;
  color: white;
  font-size: 1.6rem;
  width: 40rem;
  padding: 0.8rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 10rem;
  padding: 0.8rem;
  margin-bottom: 5rem;
  border-radius: 10rem;
  background-color: #0cf;
  color: white;
  position: relative;
}

.login_signin_button.-second {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.signup_button[type="submit"] {
  background-color: #0cf;
  color: white;
  width: 40rem;
  padding: 0.8rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

.login_button:hover,
.signup_button[type="submit"]:hover,
.login_signin_button[type="submit"]:hover {
  background-color: #008fb3;
}

.login_h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.login {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.checked {
  color: orange;
}

.delete-comment-form {
  display: none;
}

.comment_head {
  padding: 1rem;
}

.error {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 1.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.average_nota {
  margin-left: 1rem;
}

.rating {
  display: flex;
  gap: 1rem;
  flex-direction: row-reverse;
}

.star {
  font-size: 3rem;
  cursor: pointer;
  float: left;
}

.star:hover~.star:not(.star.rated ~ .star, .star.rated),
.star:hover {
  color: rgba(255, 166, 0, 0.575);
}

.star.rated,
.star.rated~.star {
  color: orange;
}

@media only screen and (max-width:865px) {
  :root {
    font-size: 9px;
  }
}

@media only screen and (max-width:655px) {
  .card .bandeco-info {
    width: 100%;
    min-width: 14.7rem;
    flex-wrap: wrap;
  }

  .card .menu-info {
    width: 100%;
    flex-wrap: wrap;
  }
}

.progress-bar {
  display: inline-block;
  background-color: black;
  height: 1.5rem;
  width: calc(1.7*5rem);
  -webkit-mask-image: url("./images/stars.png");
  -webkit-mask-size: 100% 100%;
  mask-image: url("./images/stars.png");
  mask-size: 100% 100%;
}

.progress {
  background-color: orange;
  height: 1.5rem;
  width: 0%;
}

.average-nota-container {
  display: flex;
  align-items: center;
}

.average-nota-container>span {
  margin-top: 0.04rem;
}