:root {
  font-size: 10px;
  font-family: 'Urbanist', sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

* {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
  text-align: left;

}

main{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem 1rem;
  flex-grow: 1;
}

.bandeco_card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.card{
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 27rem;
  height: 55rem;
  margin: auto;
  border-radius: 1rem;
  color: black;
  font-size: 1.5rem;
  font-weight: lighter;
  text-align: justify;
}

.card h2{
  display: flex;
  font-size: 2rem;
  margin-top: 1rem;
  text-align: left;
}

.card img{
  width: 27rem;
  height: 27rem;
  border-radius: 1rem;
  margin: auto;
}

.main-logo {
  width: 30rem;
}

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

nav li {
  list-style: none;
  text-align: center;
}
nav li a {
  color: #333;
  text-decoration: none;
  font-size: 3.5rem;
  padding: 0.5rem 0.2rem;
  display: inline-flex;
  font-weight: 700;
  transition: 0.5s;
}
nav:hover li a {
  opacity: 0;
}
nav li:hover a {
  color: #000;
  background: transparent;
  opacity: 1;
}
nav li a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  color: rgba(0, 204, 255, 0.3);
  z-index: -1;
  opacity: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5rem;
  transition: letter-spacing 0.5s, left 0.5s;
}

nav li:nth-child(6n + 1) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 2) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 3) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

nav li:nth-child(6n + 4) a:hover:before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 1rem;
  height: 10rem;
}

.main-nav>* {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  margin-right: 1.5rem;
}

.main-login {
  display: flex;
  align-items: center;
}

.main-login>* {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  margin-right: 1.5rem;
}

.main-button {
  display: inline-block;
  padding: 1.1rem 1.8rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.main-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}

.main-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.main-button:hover {
  color: #fff;
}

.main-button:hover:before {
  width: 100%;
}

.main-footer {
  display: flex;
  position: fixed ;
  bottom: 0;
  left: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  width: 45rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  width: 40rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0.1rem solid rgb(140, 159, 164);
  border-radius: 1.6rem;
  font-weight: bold;
  background-color: rgb(206, 231, 238);
}

input[type="password"] {
  width: 40rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  background-color: rgb(206, 231, 238);
}

input::placeholder {
  color: #bbbbbb;
}

form li{
  display: none;
}
.helptext {
  display: none;
}

.login_signin_button[type="submit"] {
  background-color: #0cf;
  color: white;
  font-size: 1.6rem;
  width: 40rem;
  padding: 0.8rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.login_button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 10rem;
  padding: 0.8rem;
  margin-bottom: 5rem;
  border-radius: 10rem;
  background-color: #0cf;
  color: white;
  position:relative;
}

.signup_button[type="submit"] {
  background-color: #0cf;
  color: white;
  width: 40rem;
  padding: 0.8rem;
  border: 0.1rem solid #0cf;
  border-radius: 1.6rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

.login_button:hover,
.signup_button[type="submit"]:hover,
.login_signin_button[type="submit"]:hover {
  background-color: #008fb3;
}

.login_h1{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.login{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.checked {
  color: orange;
}

.delete-comment-form {
  border: none;
  margin: 0;
}