{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Inter:wght@400;600&family=Urbanist:wght@700;900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'reset.css' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>
      {% block title %}

      {% endblock %} | Rankedeco
    </title>
  </head>

  <body>
    <header class="main-header">
      <a href="{% url 'index' %}"><img class="main-logo" src="{% static 'images/Logo-rankedeco.svg' %}" alt="Logo Rankedeco" /></a>
      <nav class="main-nav">
        {% for bandeco in bandeco_list %}
        <li> 
          <a href="{% url 'detail' bandeco.id %}" data-text="{{bandeco.name}}">{{ bandeco.name }}</a>
        </li>
        {% endfor %}
      </nav>
      <ul class="main-login">
        {% if user.is_authenticated %}
          <li>Logado com {{ user.username }}</li>
          <li>
            <a class="main-button" href="{% url 'logout' %}" lang="en">Logout</a>
          </li>
        {% else %}
          <li>
            <a class="main-button" href="{% url 'login' %}" lang="en">Login</a>
          </li>
        {% endif %}
      </ul>
    </header>
    {% block content %}

    {% endblock %}
    <footer class="main-footer"></footer>
  </body>
</html>
